body {
    background-color: beige;
    padding-top: 10 rem;
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  h2{
      color: darkslategrey;
      text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
    align-items: center;
  }

  nav{
    background-color: darkslategrey;
    text-align: center;
    font-size: 30px;
    align-items: center;
  }

  .table{
    border: 1px solid black;
    padding: 15px;
    text-align: left;
    align-items: center;
  }

  .topper{
    color:blue;
    text-align: center;
    font-size: 40px;
    align-items: center;
  }

  #container{
    font-family: verdana;
    font-size: 20px;
    padding: 10px, 10px, 10px, 10px;
    align-items: center;
    
  }

  #bar{
    color:darkgrey;
    padding: 10px, 10px, 10px, 10px;
    align-items: center;
  }

  .circle{
    border-radius: 50%;
  }